.textInputField {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base-6);
}

.input {
  outline: none;
  border: 1px solid var(--content-low);
  border-radius: 10px;
  height: 40px;
  padding: 0 var(--spacing-base-10);
}

.error {
  color: var(--content-error);
  font-size: var(--spacing-base-12);
}