.layout {
  display: grid;
  grid-template-columns: 285px auto;
  grid-template-rows: 70px auto;
}

.layoutContent {
  grid-column: 2;
  grid-row: 2;
  padding: var(--spacing-base-10);

  &.sidebarClosedContent {
    grid-column: 1 / span 3;
    margin-left: 70px;
  }
}