:root {
  // Colors
  --primary-base: #FFFFFF;

  --secondary-base: #3A3C4A;

  --content-base: #171717;
  --content-low: #D4D4D4;
  --content-link: #007AFF;
  --content-error: #FF0000;

  // Spacing
  --spacing-base-6: 6px;
  --spacing-base-8: 8px;
  --spacing-base-10: 10px;
  --spacing-base-12: 12px;
  --spacing-base-14: 14px;
  --spacing-base-16: 16px;
  --spacing-base-20: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
