.layoutSidebar {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base-10);
  border-right: 1px solid var(--content-low);
  height: 100vh;
  padding: var(--spacing-base-16);
  transition: width .3s ease-in-out;
  position: relative;

  &.sidebarOpened {
    width: 250px;
  }

  &.sidebarCollapsed {
    width: 40px;
  }
}

.arrow {
  position: absolute;
  right: 0;
  top: 20px;
  color: var(--secondary-base);
  cursor: pointer;
  z-index: 1;

  &.arrowOpened {
    transform: translateX(50%);
  }

  &.arrowCollapsed {
    transform: rotate(180deg) translateX(-50%);
  }
}

.appInfo {
  position: relative;
}

.logo {
  margin-left: -20px;
  margin-top: -30px;
  margin-bottom: -10px;

  &.sidebarClosedLogo {
    margin-top: 0;
  }
}

.sidebarOptions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base-10);

  &.sidebarClosedOptions {
    margin-top: 20px;
  }
}

.sidebarOption {
  display: flex;
  align-items: center;
  gap: var(--spacing-base-6);
  padding: var(--spacing-base-10);
  border-radius: 10px;
  color: var(--content-base);
  text-decoration: none;

  &:hover {
    color: var(--content-base);
  }

  &.sidebarClosedOption {
    position: relative;

    &:hover {
      .tooltip {
        opacity: 1;
        visibility: visible;
        transition-delay: .5s;
      }
    }

    svg {
      margin-left: 2px;
    }
  }

  .tooltip {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-base-10);
    left: 0;
    bottom: -40px;
    background: var(--secondary-base);
    border-radius: 10px;
    color: white;
    font-size: var(--spacing-base-14);
    transition: opacity .3s, visibility 0s linear .3s;
  }
}

.activeSidebarOption {
  background-color: var(--content-low);
}
