.layoutSidebar {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base-10);
  border-right: 1px solid var(--content-low);
  height: 100vh;
  padding: var(--spacing-base-16);
}

.appInfo {
  position: relative;
}

.logo {
  margin-left: -20px;
  margin-top: -30px;
  margin-bottom: -10px;
}

.sidebarOptions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base-10);
}

.sidebarOption {
  display: flex;
  align-items: center;
  gap: var(--spacing-base-6);
  padding: var(--spacing-base-10);
  border-radius: 10px;
  color: var(--content-base);
  text-decoration: none;

  &:hover {
    color: var(--content-base);
  }
}

.activeSidebarOption {
  background-color: var(--content-low);
}
